*{
  color: #fff;
}

.weatherDetails__currentWeather{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
  align-self: center;
}

.weatherDetails__detailsList{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}
