*{
  color: #fff;
  font-family: Roboto;
}

/* .sidebar__weatherDetails{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 86px;
  position: relative;
}

.sidebar__weatherDetails::after {
  content: '';
  width: 110%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: -5%;
}

.weatherDetails__sectionBadge{
  color: rgba(255, 255, 255, 0.70);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 25px;
} */

.weatherDetails__currentWeather{
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.weatherDetails__detailsList{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}
