.mainScreen__mainInfo{
  display: flex;
  gap: 30px;
  align-items: flex-end;
  max-width: 500px;
  margin: 0 0 85px 116px;
}

.mainInfo__weather{
  font-size: 143px;
  font-style: normal;
  font-weight: 400;
  line-height: 110px;
  letter-spacing: -11.44px;
}

.cityInfo__cityName{
  color: #FFF;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cityInfo__cityDate{
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cityInfo__weatherImg{}
