*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

#mainScreen{
  background-color: #012a36;
  background: url("../assets/bg-weather.png") center center no-repeat;
  background-size: cover;
  font-family: Roboto;
  color: #FFF;
  height: 100vh;
  display: flex;
  align-items: flex-end;

}