* {
  color: #fff;
  box-sizing: border-box;
}

.detailsList__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.item__name {
  color: rgba(255, 255, 255, 0.70);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item__info {
  display: flex;
  justify-content: space-between;
  width: 23rem;
}

.info__value {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*991 - 1440*/
@media (max-width: 1440px)  {
  .item__info {
    display: flex;
    justify-content: space-between;
    width: 17rem;
  }
}

/*768 - 991*/
@media (max-width: 991px)  {
  .detailsList__item {
    align-items: center;
  }
  .item__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 11rem;
  }
  .item__name {
    text-align: center;
    width: min-content;
  }
}

/*520 - 768*/
@media (max-width: 768px)  {
  .item__info {
    width: 20rem;
    margin-right: 30px;
  }
}

/*0 - 520*/
@media (max-width: 520px)  {
  .item__info {
    width: 20rem;
  }
}